= form_for station do |f|
  - if station.errors.any?
    #error_explanation
      %h2= "#{pluralize(station.errors.count, "error")} prohibited this station from being saved:"
      %ul
        - station.errors.full_messages.each do |message|
          %li= message
  .mb-3
    = f.label :name, class: "form-label"
    = f.text_field :name, class: "form-control"

  .mb-3
    = f.label :browser_info_byuuid, class: "form-label"
    = f.text_field :browser_info_byuuid, class: "form-control"

  .mb-3
    = f.label :logo_url, class: "form-label"
    = f.text_area :logo_url, class: "form-control"

  .mb-3
    = f.label :url, class: "form-label"
    = f.text_area :url, class: "form-control"

  .mb-3
    = f.label :position, class: "form-label"
    = f.number_field :position, in: 1..100, step: 1, class: "form-control"

  .mb-3.actions
    = f.submit "Save"
