- content_for :navbar do
  .m-1
    = link_to "Back", root_path, class: "btn btn-primary btn-lg", data: {turbo: false}

%h1 Listing stations

%table.table.table-striped
  %thead
    %tr
      %th
      %th Name
      %th Position
      %th Byuuid
      %th Homepage
      %th RadioBox
      %th Ignore stream
      %th Change Artist/Track
      %th
      %th

  %tbody
    - @stations.each do |station|
      %tr
        %td= station.station_logo.present? ? image_tag(station.station_logo, width: 100, height: 100) : "No Logo"
        %td= station.name
        %td= station.position
        %td= link_to station.browser_info_byuuid, station.browser_info_url, target: "_blank"
        - if station.homepage.present?
          %td= link_to station.homepage, station.homepage, target: "_blank"
        -else
          %td
        - if station.radiobox.present?
          %td= link_to station.radiobox, station.radio_box_url, target: "_blank"
        -else
          %td
        %td= station.ignore_tracks_from_stream? ? "Yes" : "No"
        %td= station.change_track_info_order? ? "Yes" : "No"
        %td= link_to "Play", station, class: "btn btn-success"
        %td= link_to "Edit", edit_station_path(station), class: "btn btn-warning"
        -# %td= link_to "Destroy", station, method: :delete, data: {confirm: "Are you sure?"}

%br

= link_to "New Station", new_station_path, class: "btn btn-primary"
