- content_for :navbar do
  .row
    .col-2
      = link_to root_path, class: "btn btn-secondary btn-lg", data: { turbo: false } do
        %i.fas.fa-arrow-left.fa-2x
    .col-1
      - if @station.station_logo.present?
        = link_to image_tag(@station.station_logo, class: "img-thumbnail", size: "50x50"), @station.homepage, target: "_blank"
    .col-4
      %h2= @station.name
    .col-3
      - if true # works when it runs without ssl
        = render "audio_player", url: station.url
      - else
        - # experimental for running none ssl urls on ssl sites
        = render "audio_player", url: station_stream_path(@station, format: :mp3)

.pt-3.mt-3.mb-3.border-top
  %h1.fw-bolder
    .row
      .col-12
        = turbo_frame_tag "current_track_#{@station.id}", loading: :lazy, src: station_current_tracks_path(@station), data: { controller: :refresh } do
          Loading Track informations...

    .row.mt-3
      .col-3
        = turbo_frame_tag "albuminfo_station_#{@station.id}", loading: :lazy, src: station_album_infos_path(@station), data: { controller: :refresh } do
          Loading Album informations...

      .col-9
        = turbo_frame_tag "trackinfo_station_#{@station.id}", src: station_track_infos_path(@station), data: { controller: :refresh, refresh_interval_value: 15_000 } do
          Asking ChatGPT ...
