= turbo_frame_tag "albuminfo_station_#{@station.id}" do
  - if @spotify_album
    = image_tag @spotify_album.images[0]["url"], class: "img-thumbnail d-block m-auto" if @spotify_album.images[0].present?
    .mt-2
      %h5.text-center= @spotify_album.name
      .text-center= @spotify_album.release_date
  - else
    No Album Info on Spotify
