= turbo_frame_tag "trackinfo_station_#{@station.id}" do
  .row
    .col-12
      - if @current_track
        = "#{@current_track.artist} - #{@current_track.title}"
      - else
        = "no track info available"

  - if @last_fm
    .row.mt-5
      .col-3
        = image_tag @last_fm.album_image, class: "img-thumbnail d-block m-auto" if @last_fm.album_image.present?
        .mt-2
          %h5.text-center= @last_fm.album
      .col-8
        - if @last_fm&.wiki_short.present?
          %h5= simple_format @last_fm.wiki_short
      .col-1
    -# DEBUG
    -# .row
    -#   .col-9
    -#     = debug last_fm.response
