- content_for :navbar do
  = link_to "New Station", new_station_path, class: "btn btn-primary"

.row.card-deck
  - @stations.each do |station|
    %div{ id: dom_id(station), class: "col-3 m-1 d-flex align-items-stretch" }
      .card.mt-1{ style: "width: 30rem;" }
        = link_to image_tag(station.station_logo, class: "card-img-top rounded"), station

        .card-body.bg-light
          .p.card-text.bg-light
            %div{"data-controller" => "content-loader",
             "data-content-loader-refresh-interval-value" => "5000",
             "data-content-loader-url-value" => "#{station_current_tracks_path(station)}" }
              Loading Track informations...
        .card-footer
          .d-grid.gap-2.mt-1
            = link_to "PLAY #{station.name}", station, class: "btn btn-warning btn-lg"
