.row.card-deck
  - @stations.each do |station|
    %div{ id: dom_id(station), class: "col-2 d-flex align-items-stretch" }
      .card.m-1
        .card-header
          %h4.text-center= station.name
        .blah{style: "min-height: 55vh"}
          = link_to image_tag(station.station_logo, size: "400x400", class: "img-fluid"), station
        .card-body
          .text-wrap.text-center
            = turbo_frame_tag "trackinfo_station_#{station.id}", loading: :lazy, src: station_current_tracks_path(station), data: { controller: :trackinfo } do
              Loading Track informations...

        .card-footer
          .d-grid.gap-2.mt-1
            = link_to station, class: "btn btn-secondary btn-lg" do
              %i.fa-solid.fa-play
