!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }
    %title WebRadio

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body{ class: "bg-light #{controller_name} #{action_name}" }
    .container-fluid.bg-white.border.pb-3
      .nav.navbar-light.bg-light
        .d-flex
          = yield :navbar

      - flash.each do |type, msg|
        - if type == 'alert'
          = content_tag :div, msg, class: "alert alert-danger", role: :alert
        - else
          = content_tag :div, msg, class: "alert alert-primary", role: :alert
      .row
        .col
          = yield
